altgraph==0.17.4
iso639-lang==2.1.0
langdetect==1.0.9
numpy==1.24.1
pefile==2023.2.7
Pillow==8.3.2
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.10
pysword==0.2.7
pywin32==305; sys_platform == 'win32'
py-applescript==1.0.3; sys_platform == 'darwin'
pywin32-ctypes==0.2.2
six==1.16.0
wxPython==4.2.0
